.vscode/**
src/**
tsconfig.json
node_modules/**/src/**
node_modules/**/README.md
node_modules/**/*.d.ts
node_modules/**/*.d.ts.map
node_modules/**/*.js.map
node_modules/@anthropic-ai/tokenizer/dist/cjs/examples/**
node_modules/@anthropic-ai/tokenizer/dist/cjs/tests/**
node_modules/tiktoken/README.md
node_modules/tiktoken/encoders/**
node_modules/tiktoken/init.*
node_modules/tiktoken/load.*
node_modules/tiktoken/model_to_encoding.json
node_modules/tiktoken/registry.json
node_modules/tiktoken/tiktoken.*
node_modules/tiktoken/tiktoken_bg.*
.gitignore
package-lock.json
out/**/*.map
